.CountrySearchBar {
    margin-bottom: 30px;
}

.ArrowDown {
    width: 0; 
    height: 0; 
    margin: 30px auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #999999;
}